* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* centering */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color */
  background-color: black;
  color: white;
}

section {
  height: 200vh;
}

span {
  border-radius: 50%;
}

.curved-text{
  position:relative;
  display:inline-block;
  margin:0 auto;
  font-size:32px;
 }
 .curved-text span{
  min-width:0.5em;
  text-align:center;
  padding:30px;
  margin:0px;
 }

